body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.flex-container {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    flex-wrap: nowrap
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace
}

.flex-left {
    width: 25%;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

.flex-middle {
    width: 50%;
    border: 1px solid black;
}


.flex-right {
    width: 25%;
    border: 1px solid black;    
}

.flex-buttom-left {
    width: 25%;
    border: 1px solid black;

}

.flex-buttom-right {
    width: 75%;
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.row-1-color {
    width: 100%;
    height: 20%;
    background-color: red;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 10px;
    color: #ccc;
}

.row-2-color {
    width: 100%;
    height: 20%;
    background-color: aqua;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 10px;
    color: #ccc;
}

.row-3-color {
    width: 100%;
    height: 20%;
    background-color: rgb(57, 78, 148);
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 10px;
    color: #ccc;
}

.row-4-color {
    width: 100%;
    height: 20%;
    background-color: rgb(27, 74, 40);
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding-left: 10px;
    color: #ccc;
}

.row-5-color {
    width: 100%;
    height: 20%;
    background-color: rgb(115, 146, 58);
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 10px;
    color: #ccc;
}
